.quote {
  max-height: 20%;
    text-align: center;
    padding: 0;
  background: linear-gradient(
    to right,
    rgba($blue, 1) 0%,
    rgba($blue-dark, 1) 100%
  );
  background-size: cover;
  h3 {
    color: white;
    font-size: 2rem;
  }
  svg {
    display: block;
  }
  @include responsive(laptop) {
  }
  @include responsive(tablet) {
  }
  @include responsive(phone) {
  }
}
