// Sky
$sky-lighter:#F9FAFB;
$sky-light: #F4F6F8;
$sky: #DFE3E8;
$sky-dark: #C4CDD5;

// Ink
$ink-lightest: #919EAB;
$ink-lighter: #637381;
$ink-light: #454F5B;
$ink: #212B36;

// Blue
$blue-lighter: #EBF5FA;
$blue-light: #B4E1FA;
$blue: #006FBB;
$blue-dark: #084E8A;
$blue-darker: #001429;

// Teal
$teal-lighter: #E0F5F5;
$teal-light: #B7ECEC;
$teal: #47C1BF;
$teal-dark: #00848E;
$teal-darker: #003135;

// Green
$green-lighter: #E3F1DF;
$green-light: #BBE5B3;
$green: #50B83C;
$green-dark: #108043;
$green-darker: #173630;

// Yellow
$yellow-lighter: #FCF1CD;
$yellow-light: #FFEA8A;
$yellow: #EEC200;
$yellow-dark: #8A6116;
$yellow-darker: #573B00;

// Orange
$orange-lighter: #FCEBDB;
$orange-light: #FFC58B;
$orange: #F49342;
$orange-dark: #C05717;
$orange-darker: #4A1504;

// Red
$red-lighter: #FBEAE5;
$red-light: #FEAD9A;
$red: #DE3618;
$red-dark: #BF0711;
$red-darker: #330101;