/* noto-sans-jp-300 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
       url('../fonts/noto-sans-jp-v25-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-jp-v25-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-regular - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url(../fonts/noto-sans-jp-v25-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/noto-sans-jp-v25-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-500 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
       url(../fonts/noto-sans-jp-v25-latin-500.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/noto-sans-jp-v25-latin-500.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-700 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url(../fonts/noto-sans-jp-v25-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/noto-sans-jp-v25-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-900 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
       url(../fonts/noto-sans-jp-v25-latin-900.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(../fonts/noto-sans-jp-v25-latin-900.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Font Family
$font-family: "Noto Sans JP", sans-serif;

// h1
@mixin display {
  font-size: 48px;
  line-height: auto;
  font-weight: 500;
}

// h2
@mixin h2 {
  font-size: 34px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 4rem;
}

// h3
@mixin h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

// h4
@mixin h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

// h5
@mixin h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
// body
@mixin body {
  font-size: 16px;
  font-weight: 400;
}

// caption
@mixin caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@mixin pre-header {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $blue;
}
