body {
  color: $ink;
  font-family: $font-family;
  background-color: $blue-lighter;
  @include body;
}
a {
  text-decoration: none;
  color: $blue;
}
h1 {
  @include display;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
  @include h5;
}
.pre-header {
  @include pre-header;
}
